[Service]
WorkingDirectory=/home/ubuntu
ExecStart=/usr/bin/node lynxapp.js
User=root
Group=root
Restart=always
Environment='NODE_ENV=production'
StandardOutput=/home/ubuntu/lynxapp.log
StandardError=syslog
SyslogIdentifier=lynx-app
